:root {
  --content-width: 1100px;
}

:not(pre)>code {
  background-color: #fff5f5;
  color: #ff502c;
}

.customer-page-class {
  color: #fb3;
  background-color: #333;
}

.vp-navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}