.page
  .theme-default-content
    code
      background-color: #fff5f5;
      color: #ff502c;
.customer-page-class
  color: #fb3;
  background-color: #333;
.navbar
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
.theme-bg
  padding: 10px 20px;
  background-color: #282c34;
  color: #fb3;
  border-radius: 5px;

@media (min-width: 1200px) {
  .page {
    .theme-default-content {
      &:not(.custom) {
        margin: 0 100px 0 130px;
        max-width: initial;
      }
    }
    .page-edit, .page-nav {
      margin: 0 100px 0 130px;
      max-width: initial;
    }
  }
}