.page
  .theme-default-content
    &:not(.custom)
      margin: 0 100px 0 130px;
      max-width: initial;
    code
      background-color: #fff5f5;
      color: #ff502c;
  .page-edit, .page-nav
    margin: 0 100px 0 130px;
    max-width: initial;
.customer-page-class
  color: #fb3;
  background-color: #333;
.navbar
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
.theme-bg
  padding: 10px 20px;
  background-color: #282c34;
  color: #fb3;
  border-radius: 5px;